*{
    
    width: 100%;
    background: url("background\ image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    
    
}
section{
    width: 350px;
    
    display: flex;
    flex-direction: column;
   margin-top: 170px;
   background: whitesmoke ;
   padding: 20px;
  
}
.signupdiv{
    margin-top: 50px;
}
.mainh1{
    text-align: center;
    background: whitesmoke;
}
form{
    background: whitesmoke !important;
}
section input{
    display: block;
    margin-top: 10px;
    background: whitesmoke !important;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px solid purple;
    
}
section input:focus{
    outline: none ;
}

.passdiv{
    background: whitesmoke !important;
    display: flex;
    align-items: center;
    width: 250px;
    

}
.eyebtn{
    background: whitesmoke ;
    border: none;
    width: 40px;
}
.passdiv i{
    background: whitesmoke ;
}




p{
    font-size: 13px;
   padding: 0 20px;
    margin: 10px 0 10px 10px;
    background: whitesmoke;
    font-weight: bold;
   
}
button{
    
    width: 250px;
    margin: 0 auto;
}

.mybtn{
    color: grey;
    margin-top: 10px;
    background: aqua !important;
    color: whitesmoke;
}
.signupbtn{
    background: royalblue !important;
}
.profilediv{
    
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilediv h3{
    background: whitesmoke ;
    padding: 20px;
}
.whitesmokebg{
    background: url("white\ smoke\ bg.jpg");
}
.closebtn{
    color: black;
    font-weight: bold;
}
.modaltitle{
    color: whitesmoke;
    background:url("white\ smoke\ bg.jpg") ;
}
.modalbody p{
    background: url("white\ smoke\ bg.jpg") ;
    color: whitesmoke;
    margin-left: 0;
    padding-left: 0;
    font-size: 18px;
}
@media only screen and (max-width : 400px) {
    section {
        width: 100%;
    }
    p{
        padding: 0;
        margin: 10px 0;
        text-align : center
    }
}
@media only screen and (max-width : 340px) {
    button ,section input , .passdiv{
        width: 100%;
    }
    .eyebtn{
        width: 30px;
    }
  
    
}